.vls-icon{
  height: 50px;
  width: 50px;
  display: block;
  border-radius: 99em;
  border: 3px solid #eee;
  box-shadow: 0 0 25px #048CE5;
}
h6 {
  color: white;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
#target {
  padding-top: 20vh;
  display: none;
}
.videoplay video{
  padding-left: 0.5vw;
  padding-top: 2vh;
}
.videoplay {
  height: 100%;
}
.result {
  background-color: #8c8c8c36;
  border-radius: 17px;
  margin-left: 5vw;
  height: 76vh;
  width: 90vw;
}
#videoinfo {
  height: 20%;
}
#sidenavbar {
  display: none;
}
#suggestions {
  background-color: white;
  list-style: none;
}
h4{
  color: white;
}
.searchbox{
  position: absolute;
  left: 575px;
  width:550px;
}
.btn-primary-outline{
  border-color:white;
}
.sidenav{
  height: 100%;
  width: 175px;
  position: absolute;
  z-index: 1;
  top: 108px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 30px;
  border-radius: 10px;
}
.sidenav a{
  padding: 8px 10px 8px 16px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  display: block;
}
.btn-login{
  background-color: #F5F5EE;
  border-color: white;
  margin-right: 50px;
}
.btn-login:hover{
  color:#048CE5;
  box-shadow: 0 0 30px #048CE5;
}
.menuicon:hover{
  box-shadow: 0 0 30px #048CE5;
}
.menuicon a:hover{
  color: white;
}
.well{
  box-shadow: 0 0 30px #048CE5;
  padding: 0px;
}
body{
  background-color: #031520;
}
#myCarousel img{
  width: 100%;
  height: 50%;
  opacity: 0.3;
}
.navbar-inverse{
  margin-bottom: 0;
}
.carousel-inner{
  width:100vw;
}
.container{
  width:100%;
}
h3{
  color:#F5F5EE;
  font-size: 30px;
}
.navbar-inverse{
  box-shadow: 0 0 30px #93D4F9;
  height: 60px;
}
.navbar-icon{

}
.popup{
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right:10px;
    padding-top: 12px;
}
.image1{
  background-image: url("../img/coding2.jpeg");
  opacity: 0.3;
  height: 100vh;
  width:100vw;
  background-repeat: no-repeat;
  background-size: cover;
}
.image2{
  background-image: url("../img/smiling.jpg");
  opacity: 0.3;
  height: 100vh;
  width:100vw;
  background-repeat: no-repeat;
  background-size: cover;
}
.image3{
  background-image: url("../img/coding1.jpg");
  opacity: 0.3;
  height: 100vh;
  width:100vw;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel{
  height: 100vh;
  width: 100vw;
  margin-right: 0;
}
.item{
  height: 100vh;
}
.vls-icon{
  height: 50px;
  width: 50px;
  display: block;
  border-radius: 99em;
  border: 3px solid #eee;
  box-shadow: 0 0 25px #048CE5;
}
h4{
  color: white;
}
.searchbox{
  position: absolute;
  left: 575px;
  width:550px;
}
.btn-primary-outline{
  border-color:white;
}
.sidenav{
  height: 100%;
  width: 175px;
  position: absolute;
  z-index: 1;
  top: 108px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 30px;
  border-radius: 10px;

}
.sidenav a{
  padding: 8px 10px 8px 16px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  display: block;
}
.btn-login{
  background-color: #F5F5EE;
  border-color: white;
  margin-right: 50px;
}
.btn-login:hover{
  color:#048CE5;
  box-shadow: 0 0 30px #048CE5;
}
.menuicon:hover{
  box-shadow: 0 0 30px #048CE5;
}
.menuicon a:hover{
  color: white;
}
.well{
  box-shadow: 0 0 30px #048CE5;
  padding: 0px;
}
body{
  background-color: #031520;
}
#myCarousel img{
  width: 100%;
  height: 50%;
  opacity: 0.3;
}
.navbar-inverse{
  margin-bottom: 0;
}
.carousel-inner{
  width:100vw;
}
.container{
  width:100%;
}
h3{
  color:#F5F5EE;
  font-size: 30px;
}
.navbar-inverse{
  box-shadow: 0 0 30px #93D4F9;
  height: 60px;
}
.navbar-icon{

}
.popup{
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right:10px;
    padding-top: 12px;
}
.image1{
  background-image: url("../img/coding2.jpeg");
  opacity: 0.3;
  height: 100vh;
  width:100vw;
  background-repeat: no-repeat;
  background-size: cover;
}
.image2{
  background-image: url("../img/smiling.jpg");
  opacity: 0.3;
  height: 100vh;
  width:100vw;
  background-repeat: no-repeat;
  background-size: cover;
}
.image3{
  background-image: url("../img/coding1.jpg");
  opacity: 0.3;
  height: 100vh;
  width:100vw;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel{
  height: 100vh;
  width: 100vw;
  margin-right: 0;
}
.item{
  height: 100vh;
}
.wrapper{
  transition: margin-left .5s;
  padding:0;
}
#sidebar{
  width: 0px;
  min-height: 100vh;
  color: #fff;
  transition: 0.3s;
  overflow-x: hidden;
  position: fixed;
  padding-top: 60px;
  background:#17202A;
  display: block;
  z-index: 1;
  box-shadow: 0 0 30px #93D4F9;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
#sidebar .sidebar-header {
    padding: 20px;
    background: #34495E;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #7B7D7D;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #17202A;
}
#main {
 transition: margin-left .5s;
}